{{#resume.basics}}
<div class="container about-container">
    {{> title-left value="Contact"}}

    {{#if birthday}}
        {{> info-tag text=(concat "Born in " this.birthday) icon="fa-calendar"}}
    {{/if}}

    {{#if email}}
        {{> info-tag text=this.email icon="fa-envelope" isEmail=true url=this.email}}
    {{/if}}

    {{#if address}}
        {{> info-tag text=this.address mapurl=(concat "https://www.google.com/maps/search/?api=1&query=\"" this.address " " this.city "\"") icon="fa-map-marker"}}
        {{> info-tag text=(concat this.code " " this.city) icon="fa-utensil-spoon"}}
    {{/if}}

    {{#if phone}}
        {{> info-tag text=this.phone icon="fa-phone"}}
    {{/if}}

    {{#if website}}
        {{> info-tag text=this.website icon="fa-globe" url=this.website}}
    {{/if}}

    {{#if profiles}}
        {{#each profiles}}
            {{> social}}
        {{/each}}
    {{/if}}
</section>
{{/resume.basics}}
