{{#if resume.languages.length}}
    <div class="container languages-container">
        {{> title value="Languages"}}

        <div class="minimal flex-container">
            {{#each resume.languages}}
                <h6 class="main-skill skill">{{language}} {{#if fluency}}<em>({{fluency}})</em>{{/if}}</h6>
            {{/each}}
        </dif>
    </div>
{{/if}}
