/* Utils */
/*----- Colors -----*/
/*----- Fonts -----*/
/*----- Dimensions and sizes -----*/
/* Base */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Josefin Sans Light'), local('JosefinSans-Light'), url(https://fonts.gstatic.com/s/josefinsans/v14/Qw3FZQNVED7rKGKxtqIqX5Ecpl5te10k.ttf) format('truetype');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Sans Bold'), local('JosefinSans-Bold'), url(https://fonts.gstatic.com/s/josefinsans/v14/Qw3FZQNVED7rKGKxtqIqX5Ectllte10k.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI9w2_Gwfo.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v16/S6u8w4BMUTPHjxsAXC-v.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI5wq_Gwfo.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwiPHA.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPHA.ttf) format('truetype');
}

/* cyrillic-ext */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Alegreya Sans SC Regular'), local('AlegreyaSansSC-Regular'), url(https://fonts.gstatic.com/s/alegreyasanssc/v9/mtGh4-RGJqfMvt7P8FUr0Q1j-Hf1BkRl9xxA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Alegreya Sans SC Regular'), local('AlegreyaSansSC-Regular'), url(https://fonts.gstatic.com/s/alegreyasanssc/v9/mtGh4-RGJqfMvt7P8FUr0Q1j-Hf1Bk1l9xxA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Alegreya Sans SC Regular'), local('AlegreyaSansSC-Regular'), url(https://fonts.gstatic.com/s/alegreyasanssc/v9/mtGh4-RGJqfMvt7P8FUr0Q1j-Hf1BkVl9xxA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Alegreya Sans SC Regular'), local('AlegreyaSansSC-Regular'), url(https://fonts.gstatic.com/s/alegreyasanssc/v9/mtGh4-RGJqfMvt7P8FUr0Q1j-Hf1Bkpl9xxA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Alegreya Sans SC Regular'), local('AlegreyaSansSC-Regular'), url(https://fonts.gstatic.com/s/alegreyasanssc/v9/mtGh4-RGJqfMvt7P8FUr0Q1j-Hf1BkZl9xxA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Alegreya Sans SC Regular'), local('AlegreyaSansSC-Regular'), url(https://fonts.gstatic.com/s/alegreyasanssc/v9/mtGh4-RGJqfMvt7P8FUr0Q1j-Hf1Bkdl9xxA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Alegreya Sans SC Regular'), local('AlegreyaSansSC-Regular'), url(https://fonts.gstatic.com/s/alegreyasanssc/v9/mtGh4-RGJqfMvt7P8FUr0Q1j-Hf1Bkll9w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Marcellus';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Marcellus'), local('Marcellus-Regular'), url(https://fonts.gstatic.com/s/marcellus/v7/wEO_EBrOk8hQLDvIAF81WPoK7Es.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Marcellus';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Marcellus'), local('Marcellus-Regular'), url(https://fonts.gstatic.com/s/marcellus/v7/wEO_EBrOk8hQLDvIAF81VvoK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Fauna One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fauna One'), local('FaunaOne-Regular'), url(https://fonts.gstatic.com/s/faunaone/v7/wlpzgwTPBVpjpCuwkuEB0EZKUCk.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Fauna One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fauna One'), local('FaunaOne-Regular'), url(https://fonts.gstatic.com/s/faunaone/v7/wlpzgwTPBVpjpCuwkuEB3kZK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  background: white;
}

body {
  font-family: "Fauna One", Helvetica, Arial, sans-serif;
  font-weight: 400;
  background: white;
  margin: 50px 0 100px;
  letter-spacing: 0px;
  color: #39424B;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
  margin: 0;
}

h1 {
  font-family: "Alegreya Sans SC", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 1px;
}

h2 {
  font-family: "Alegreya Sans SC", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: .5px;
}

h3 {
  font-family: "Alegreya Sans SC", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: .4px;
}

h3.bold {
  font-weight: 700;
  font-size: 12px;
}

h3.left {
  font-weight: 400;
  font-size: 11px;
  
}

h4 {
  font-family: "Alegreya Sans SC", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 11px;
}

h4.bold {
  font-weight: 700;
}

h5 {
  font-family: "Alegreya Sans SC", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 11px;
}

h5.italic {
  font-style: italic;
}

h6 {
  font-family: "Fauna One", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 10px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: #2895F1;
}

a .fa-external-link {
  font-size: 10px;
  vertical-align: text-top;
}

p, li {
  font-size: 9px;
  list-style-type: none;
  padding-left: 0.6em;
  margin-right: 0em;
  padding-right: 2em;
}

li {
  border-left-style: solid #304357;
  border-width: 1px;
  padding-bottom: 0.5em;
}

ul.highlights:before {
  content: '';
  width: 0;
  height: 100%;
  position: relative;
  border: 1px solid black;
  top: 0;
  left: -1em;
  /* border-left-style: solid #304357; */
  /* border-width: 1px; */
  /* padding-bottom: 0.5em; */
}


blockquote {
  font-size: 11px;
  font-family: "Fauna One", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
  margin: 10px 25px;
}

em {
  color: #999;
}

ul {
  margin: 10px 0 0;
  padding-inline-start: 1em;
}

ul li {
  padding-left: 0.6em;
}

ul.minimal {
  list-style: none;
  padding: 0;
}

ul.minimal li {
  margin-bottom: 3px;
  padding-left: 0;
}

li.two-column {
  border-style: none;
}

ul.two-column {
  -webkit-column-count: 2;
  -webkit-column-gap: 28px;
  column-count: 2;
  column-gap: 28px;
  list-style-type: none;
  border-style: none;
}

ul.two-column li {
  padding-left: 0;
}

@page {
  size: A4;
}

.container {
  padding-top: 20px;
}

.keyline {
  width: 100%;
  margin: 0em 0 0.5em;
  border-top: 0.5mm solid #304357;
  transform: scaleY(0.33);
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
.col-container {
  display: table;
  width: 100%;
  margin: 10px;
}

.col {
  display: table-cell;
  padding-inline-start: 0;
}
.col-keyline {
  display: table-cell;
  border-right: 0.5mm solid #31435721;
  transform: scaleX(0.33);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.profile-pic {
  margin-top: -5px;
  margin-right: 18px;
}

.profile-pic img {
  height: 4em;
  width: 4em;
  border-radius: 50%;
  border: 0.2em solid #304357;
}

.summary {
  margin: 5px 0 5px;
}

.sublink {
  font-size: 70%;
  font-weight: 200;
  color: dimgray;
}

.capitalize {
  text-transform: capitalize;
}

/* Layouts */
.page {
  background: white;
  width: 40rem;
  min-height: 792px;
  display: block;
  margin: 0 auto;
  border-top: 10px solid #304357;
  padding: 36px 22px 30px 34px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.page:after {
  content: "";
  display: table;
  clear: both;
}

.left-column {
  float: left;
  width: 8.5em;
  margin-right: 1em;
  margin-top: 0.53em;
  word-wrap: break-word;
}

.right-column {
  width: auto;
  overflow: hidden;
}

.item {
  margin-bottom: 15px;
}

.item:last-child {
  margin-bottom: 0;
}

@media print {
  body {
    margin: 0;
  }

  .page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 36px 0 30px;
    box-shadow: none;
  }

  .page .resume-header,
  .page .resume-content {
    padding: 0 22px 0 34px;
  }

  .container {
    page-break-inside: avoid;
  }

  .work-container .item {
    page-break-inside: avoid;
  }

  .fa-external-link {
    display: none;
  }
}

/* Components */
.info-tag-container {
  margin-bottom: -0.2em;
}

.info-tag-container .fa {
  font-size: 13px;
  width: 9px;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
}

/* There is no spoon */
.info-tag-container .fa.fa-utensil-spoon {
  font-size: 16px;
  opacity: 0;
}

.info-tag-container .fa.fa-map-marker {
  font-size: 16px;
}

.info-tag-container .fa.fa-mobile {
  font-size: 16px;
}

.info-tag-container .fa.fa-envelope {
  font-size: 10px;
}

.info-tag-container .fa.fa-desktop {
  font-size: 11px;
}

.info-tag-container .fa.fa-external-link {
  width: auto;
  font-size: inherit;
  vertical-align: text-top;
}

.info-tag-container .info-text {
  font-size: 9px;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
}

.references-container .fa {
  font-size: 14px;
}

.education-container .location {
  padding-bottom: 6px;
  font-weight: 400;
}

.education-container .specialization {
  text-transform: none;
  font-style: italic;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-skill {
  font-size: 9px;
}

.skill {
  margin: .20em;
  padding: .15em;
  background: #3143570d;
  border-radius: 5px;
}

.main-course {
  font-size: 70%;
}

.course {
  margin: .20em;
  padding: .15em;
  background: #eaf4fc;
  border-radius: 5px;
}
